{% extends 'main/base.html' %}

{% block title %} Administration {% endblock %}

{% block page_decorator %}
<div style="padding: 20px">
    <h1 class="recenter">Administration</h1>
</div>
{% endblock %}

{% block content %}
<style>

    .split {
        height: 100%;
        width: 50%;
        position: absolute;
        z-index: 1;
        top: 15%;
        overflow-x: hidden;
        padding: 20px;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .recenter {
        text-align: center;
    }
</style>

<div class="split left" style="padding: 40px">
    <div class="recenter"><h2>Choix du livre</h2></div>
    <div class="form-group">
        <form method="get" action="#">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label for="InputLivre"></label><label for="InputLivre"></label><input type="text" name="livre" class="form-control" id="InputLivre" aria-describedby="Livre"
                                                                                       placeholder="Livre">
                <div class="input-group-prepend">
                    <button type="submit" name="searchAdmin" value="searchAdmin" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>

    <h3> Résultat </h3>
    <div>
        <ul class="list-group">
            {% if liste_livres|length > 0 %}
            {% for livres in liste_livres %}
            <li>
                <form method="POST" action="#">
                    {% csrf_token %}

                    <label for="id_work"></label><input type="text" name="id_work" class="form-control" id="id_work"
                                                        aria-describedby="id_work" placeholder="id_work" value="{{ livres.id_works }}"
                                                        hidden>
                    {{ livres.name_works }} 
                    <button type="submit" class="btn btn-primary" name="Modifier" value="Modifier">Modifier
                    </button>
                    <button type="submit" class="btn btn-danger" name="Supprimer" value="Supprimer">
                        Supprimer
                    </button>

                </form>
            </li>
            {% endfor %}
            {% else %}
            Aucun résultat trouvé.
            {% endif %}
        </ul>
    </div>
</div>


<div class="split right" style="padding: 40px">
    <div class="titre2">
        {% if edit_mode == True %}
        <div class="recenter"><h2>Edit livre:</h2></div>
        {% else %}
        <h2 class="recenter">Ajout de livre: </h2>
        {% endif %}

        {% if creation %}
        <p style="color:green;">Livre créé</p>
        {% elif creation == False %}
        <p style="color:red;">Livre non créé</p>
        {% else %}
        <p></p>
        {% endif %}
    </div>

    <div class="form-group">
        <form method="post" action="#">
            {% csrf_token %}
            <div class="col-sm">

                <label for="id_edit_livre"></label><label for="id_edit_livre"></label><input type="text" name="id_edit_livre" class="form-control" id="id_edit_livre"
                                                                                             aria-describedby="id_edit_livre" placeholder="id_edit_livre" value="{{ edit_book.id_works }}"
                                                                                             hidden>

                <h3> Nom livre: </h3><br/>
                <label for="nomLivre"></label><input maxlength="50" type="text" name="nomLivre" class="form-control" id="nomLivre"
                                                     aria-describedby="nomLivre"
                                                     placeholder="Nom" value="{{ edit_book.name_works }}"><br/>

                <h3> Nom auteur: </h3><br/>
                <label for="authorName"></label><input maxlength="255" type="text" name="authorName" class="form-control" id="authorName"
                                                       aria-describedby="authorName" placeholder="Nom auteur"
                                                       value="{{ edit_book.author_name }}"><br/>

                <h3> Date de publication: </h3><br/>
                <label for="datePublication"></label><input type="date" name="datePublication" class="form-control" id="datePublication"
                                                            aria-describedby="datePublication" placeholder="Date de publication"
                                                            value="{{ date_str }}"><br/>

                <h3> Maison d'édition: </h3>
                <label for="editionHouse"></label><input maxlength="45" type="text" name="editionHouse" class="form-control" id="editionHouse"
                                                         aria-describedby="editionHouse" placeholder="Maison d'édition"
                                                         value="{{ edit_book.edition_house }}"><br/>

                <h3> Nombre de pages: </h3>
                <label for="nbrPage"></label><input type="text" name="nbrPage" class="form-control" id="nbrPage" aria-describedby="nbrPage"
                                                    placeholder="Nombre de pages" value="{{ edit_book.length }}"><br/>

                <h3> Résumé: </h3>
                <label for="resume"></label><input maxlength="2000" type="text" name="resume" class="form-control" id="resume" aria-describedby="resume"
                                                   placeholder="Résumé" value="{{ edit_book.resume }}"><br/>

                <h3> Genre: </h3>
                <label>
                    <select name="dropdown_genre">
                        <option value="{{ edit_book.genre }}" selected>{{ genre }}</option>
                        <option value="AB">Album et Journaux</option>
                        <option value="AM">Anime et Manga</option>
                        <option value="dJ">DVD Jeunes</option>
                        <option value="da">DVD Adolescents</option>
                        <option value="dA">DVD Adultes</option>
                        <option value="DC">Disque compact</option>
                        <option value="js">Jeu de societe</option>
                        <option value="JJ">Jeu Video Jeunes</option>
                        <option value="Ja">Jeu Video Adolescents</option>
                        <option value="JA">Jeu Video Adultes</option>
                        <option value="PJ">Periodique Jeunes</option>
                        <option value="PA">Periodique Adultes</option>
                        <option value="rJ">References Jeunes</option>
                        <option value="rA">References Adultes</option>
                        <option value="RJ">Roman Jeunes</option>
                        <option value="Ra">Roman Adolescents</option>
                        <option value="RA">Roman Adultes</option>
                        <option value="OO">Autres</option>
                    </select>
                </label>

                <h3> Language: </h3>
                <label for="language"></label><input maxlength="18" type="text" name="language" class="form-control" id="language"
                                                     aria-describedby="language"
                                                     placeholder="Language" value="{{ edit_book.language }}"><br/>

                <h3> État: </h3>
                <label>
                    <select name="dropdown_etat">
                        <option value="{{ etat_id }}" selected>{{ etat }}</option>
                        <option value="1">Bon</option>
                        <option value="0">Mauvais</option>
                    </select>
                </label>

                <h3> Numéro de librairie: </h3>
                <label for="numeroCopie"></label><input  maxlength="2" type="text" name="numeroCopie" class="form-control" id="numeroCopie"
                                                        aria-describedby="numeroCopie" placeholder="Numéro de copie"
                                                        value="{{ edit_book.id_library }}"><br/>

                <h3> Type de livre: </h3>
                <label>
                    <select name="dropdown_type">
                        <option value="{{ edit_book.type_work }}" selected>{{ type }}</option>
                        <option value="AA">Action et Aventure</option>
                        <option value="RD">Romance et Drame</option>
                        <option value="TH">Thriller et Horreur</option>
                        <option value="DA">Ouvrage de style Documentaire</option>
                        <option value="PS">Policier et Suspense</option>
                        <option value="EA">Education et Apprentissage</option>
                        <option value="CH">Comedie et Humour</option>
                        <option value="SL">Sports et Loisirs</option>
                        <option value="AR">Action et Romance</option>
                        <option value="TD">Thriller et Drame</option>
                        <option value="CR">Comedie et Romance</option>
                        <option value="OO">Autres</option>
                    </select>
                </label>

                <br>
                <h3> Prix: </h3>
                <label for="price"></label><input maxlength="5" type="text" name="price" class="form-control" id="price" aria-describedby="price"
                                                  placeholder="Prix" value="{{ edit_book.price }}"><br/>

                {% if edit_mode == True %}
                <button type="submit" name="edit" value="edit" class="btn btn-primary">Edit</button>
                {% else %}
                <button type="submit" name="create" value="create" class="btn btn-primary">Submit</button>
                {% endif %}

            </div>
        </form>
    </div>
</div>
{% endblock %}