{% extends 'main/base.html' %}

{% block title %} {{ livre.name_works }} {% endblock %}


{% block content %}
    <style>
        img {
            height: 60%;
            width: 45%;
        }

        .Info_livre {
            position: absolute;
            top: 10%;
            left: 40%;
        }

        .Info_sup {
            position: absolute;
            top: 40%;
            left: 40%;
        }

        .comment {
            margin-top: 3%;
            width: 600px;
        }
        
    </style>

    

    <div class="container-fluid">
        <div class="col-sm-10">
            
            {% if image_livre != None %}
                <img src="{{image_livre}}">
            {% else %}
                <img src="https://raw.githubusercontent.com/BiblioLexicus/Design/main/work%20not%20found.png">
            {% endif %}

            <div class="Info_livre">

                {% if state_of_emprunt %}
                    <p style="color:green">Emprunt ajouté à votre liste! </p>
                {% elif state_of_emprunt == False %}
                    <p style="color:red">Ce livre est déja emprunté</p>
                {% else %}
                    <p></p>
                {% endif %}


                <form action="#" method="GET">
                    
                    <input type="text" name="id_work" class="form-control" id="id_work"
                                                        aria-describedby="id_work" placeholder="id_work" value="{{ livre.id_works }}"
                                                        hidden>
                    <h2>Titre: {{ livre.name_works }}</h2>
                    <h3>Auteur: {{ livre.author_name }}</h3>
                    <h3>
                        Résumé: {{ livre.resume }}
                    </h3>
                    <h4>Maison d'édition: {{ livre.edition_house }}</h4>
                    <h5>Prix: {{ livre.price }}$</h5>

                    <div class="">
                        <button type="submit" name="emprunt" id="emprunt" value="emprunt" class="btn btn-success">Emprunter</button>
                    </div>
                </form>

                </br><h2> Commentaires: </h2>
                <div class="comment">
                    <div class="form-group">
                        <form action="#" method="POST">
                            {% csrf_token %}

                            <div class="input-group">
                                <button type="submit" name="commSave" id="commSave" value="commSave" class="btn btn-success">Envoyer</button>
                                <textarea class="form-control" name="ecritureComm" id="ecritureComm" value="ecritureComm" rows="3"> </textarea>
                            </div>

                            <input type="text" name="id_work" class="form-control" id="id_work"
                                                            aria-describedby="id_work" placeholder="id_work" value="{{ livre.id_works }}"
                                                            hidden>
                        </form>
                    </div>  
                      {% for info in list_user %}
                        </br>
                        <h3> {{ info.0 }}: </h3>
                        <p> {{info.1.comment_text }} </p>
                      {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
