{% extends 'main/base.html' %}

{% block title %} Librairies {% endblock %}

{% block page_decorator %} <h1 style="text-align: center">{{ libr.library_name }}</h1> {% endblock %}

{% block content %}
    <div>
        <img src="https://raw.githubusercontent.com/BiblioLexicus/Design/main/BoisdeBoulogne.jpg?raw=true" alt="Logo" height="400" width="600">
    </div>
    <div style="padding: 40px">
        <h3>Informations</h3>
        <ul>
            <li><p>Heures d'ouverture: {{ libr.schedules }}</p></li>
            <li><p>Site web: <a href="{{ libr.library_website }}">{{ libr.library_website }}</a> </p></li>
            <li><p>Code Postal: {{ libr.postal_code }}</p></li>
            <li><p>Numéro de téléphone: {{ libr.phone_address }}</p></li>
        </ul>
    </div>
{% endblock %}