{% extends 'main/base.html' %}

{% block title %}{{name}}{% endblock %}

{% block content %}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .book {
        display: flex;
        margin-top: 5%;
        margin-left: 20%;
    }

    .book_res {
        margin-left: 2%;
    }

</style>

<h1 style="text-align:center;"> Résultats de la recherche: {{name}} </h1>

<ul class="list-group">
    {% if liste_livres|length > 0 %}
        {% for livres in liste_livres %}
        <li class='elements'>
            <div class="book">
                <div class="image_not_found">
                    <img src="https://raw.githubusercontent.com/BiblioLexicus/Design/main/Book_image_not_found.jpg?raw=true?raw=true" width="200px", height="200px">
                </div>
                <div class="book_res">
                    <h2>Livre: <a href="/item/{{livres.id_works}}" class="link-secondary">{{livres.name_works}} {{livres.id}}</a></h2>
                    <h4>Date de publication: {{livres.publication_date}}</h4>
                    <a class="btn btn-primary" href="/item/{{livres.id_works}}" role="button">Voir infos</a>
                </div>
            </div>
        </li>
        {% endfor %}
    {% else %}
        <img src="https://raw.githubusercontent.com/BiblioLexicus/Design/main/work%20not%20found.png"
            alt="img_not_found" class="center">
    {% endif %}
</ul>


{% endblock %}