{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block page_decorator %}
    <h1 style="text-align: center">Login into your account</h1>
{% endblock %}

{% block content %}
<div style="padding: 40px">
    <!-- Afficher si logged in -->
    {% if log == True%}
        <h1 style="text-align: center"> Bienvenue {{user.name}}! </h1>
    {% else %}
        <form method="post" class="form-group" action="#">
            {% csrf_token %}
            
            <h3>Email:</h3>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="email"
                                                    placeholder="Email">

            <h3>Mot de Passe:</h3>
            <input type="password" name="mdplogin" class="form-control" id="mdplogin" aria-describedby="Mot de Passe"
                                                    placeholder="Mot de Passe">
                                                    
            <button type="submit" name="loggin_btn" value="loggin_btn" class="btn btn-primary">Connexion</button>
        </form>
        <p> Pas de compte? Cliquez <a href='/inscription'>ici!</p>
    {% endif %}
</div>
{% endblock %}
