{% extends 'main/base.html' %}

{% block title %} Nouveau compte {% endblock %}

{% block page_decorator %}
    <h1 style="text-align: center">Création de compte</h1>
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <style>
        .formulaire {
            width: 50%;
            padding-left: 40px;
            vertical-align: center;
        }

        .element {
            padding-top: 10px;
            padding-bottom: 10px;
            align-content: center;
        }
    </style>

    {% if creation %}
        <p style="color:green;">Utilisateur créé!<p>
        {% elif creation == False %}
        <p style="color:red;">Utilisateur créé!<p>
    {% endif %}

    <div class="formulaire">
        <form method="post" action="#" class="form-group">
            {% csrf_token %}

            <div class="element">
                <h3>Nom:</h3>
                <label for="nom">Entrez votre nom</label><input type="text" name="nom" class="form-control" id="nom"
                                                                aria-describedby="nom"
                                                                placeholder="Nom">
            </div>

            <div class="element">
                <h3>Prénom:</h3>
                <label for="prenom">Entrez votre prénom</label><input type="text" name="prenom" class="form-control"
                                                                      id="prenom"
                                                                      aria-describedby="prenom"
                                                                      placeholder="Prenom">
            </div>

            <div class="element">
                <h3>Date de naissance:</h3>
                <label for="dateNaissance">Entrez votre date de naissance</label><input type="date" name="dateNaissance"
                                                                                        class="form-control"
                                                                                        id="dateNaissance"
                                                                                        aria-describedby="dateNaissance"
                                                                                        placeholder="Date de naissance">
            </div>

            <div class="element">
                <h3>Email:</h3>
                <label for="email">Entrez votre email</label><input type="email" name="email" class="form-control"
                                                                    id="email"
                                                                    aria-describedby="email"
                                                                    placeholder="Email">
            </div>

            <div class="element">
                <h3>Mot de passe:</h3>
                <label for="mdp"></label>Entrez un mot de passe<input type="password" name="mdp" class="form-control"
                                                                      id="mdp"
                                                                      aria-describedby="mdp"
                                                                      placeholder="Mot de passe">
            </div>

            <div class="element">
                <h3>Adresse Postale:</h3>
                <label for="address"></label>Entrez votre adresse<input maxlength="6" type="text" name="address" class="form-control"
                                                                        id="address"
                                                                        aria-describedby="address"
                                                                        placeholder="Adresse Postale">
            </div>

            <div style="padding-top: 20px">
                <button type="submit" name="inscription_btn" value="inscription_btn" class="btn btn-primary">
                    Inscription
                </button>
            </div>
        </form>
    </div>
{% endblock %}