{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Connexion {% endblock %}

{% block page_decorator %}
    <h1 style="text-align: center">Connexion dans votre compte</h1>
{% endblock %}

{% block content %}
<div style="padding: 40px">
    <!-- Afficher si logged in -->
    {% if log == True%}
        <meta http-equiv="refresh" content="time; URL=http://127.0.01:8000/profile/">
    {% else %}
        <form method="post" class="form-group" action="#">
            {% csrf_token %}
            
            <h3>Email:</h3>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="email"
                                                    placeholder="Email">

            <h3>Mot de Passe:</h3>
            <input type="password" name="mdplogin" class="form-control" id="mdplogin" aria-describedby="Mot de Passe"
                                                    placeholder="Mot de Passe">
                                                    
            <button type="submit" name="loggin_btn" value="loggin_btn" class="btn btn-primary">Connexion</button>
            
            
        </form>
    {% endif %}
</div>
<div style="padding: 40px">
    <a href="http://127.0.0.1:8000/inscription/">
    <button type="submit" name="inscription_btn" value="inscription_btn" class="btn btn-primary">Inscription</button>
    </a>
</div>

{% endblock %}
